@import './style.css';
@import './reset.css';
@import './prof.css';
@import './info.css';

section {
    height: 1100px;
    width: 100%;
}

* {
    text-decoration: none;
    list-style: none;
}



@media only screen and (max-width: 560px) {
    section {
        flex-direction: column;
    }
}